@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14.3% 4.1%;
    --card: 60 50% 98%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 60 50% 98%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 120 40% 45%;
    --primary-foreground: 120 25% 95%;
    --secondary: 60 48% 84%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 48% 84%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 33 100% 64%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 120 40% 45%;
    --chart-1: 120 40% 45%;
    --chart-2: 33 100% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 50% 98%;
    --sidebar-foreground: 20 14.3% 4.1%;
    --sidebar-primary: 120 40% 45%;
    --sidebar-primary-foreground: 120 25% 95%;
    --sidebar-accent: 60 56% 91%;
    --sidebar-accent-foreground: 20 14.3% 4.1%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 120 40% 45%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 120 40% 45%;
    --primary-foreground: 120 25% 95%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 33 100% 64%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 120 40% 45%;
    --chart-1: 120 40% 45%;
    --chart-2: 33 100% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 20 14.3% 4.1%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 120 40% 45%;
    --sidebar-primary-foreground: 120 25% 95%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 120 40% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
